:root {
    --bg-color: #ffffff;
    --text-color: #333333;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: 0.3s ease;
}

/* Dark Mode Class  */
.dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #f4f4f4;
}

.container { width: 400px; margin: auto; padding: 20px; }
.form-group { margin-bottom: 15px; }
input { width: 100%; padding: 8px; margin-top: 5px; }

.error { 
    color: #dc3545; 
    font-size: 0.8rem; 
    display: block; 
    margin-top: 5px; 
}

button {
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}